<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Users" connectionString="data source=(localDB)\MSSQLLocalDB;Integrated Security=SSPI;AttachDBFilename=C:\Anita\InterviewTest\Interview.Web\App_Data\Users.mdf" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key ="MaxCharacters" value="30"/>
    <add key ="MinCharacters" value="3"/>
  </appSettings>
</configuration>